body{
  font-family:"Josefin Sans", sans-serif !important;
}

#pull{
  margin-left:10%;
  width:45%;
}

#name-contact-1{
  margin-top:5rem;
}

#text-contact-1{
  height:70px;
}

#submit{
  margin:2rem 0rem;
}

label{
  float: left;
  margin-left:1rem;
}

.form-login{
  width:100%;
  padding:0 30px;
}

textarea{
  resize: none;
}

input:hover, textarea:hover {
    border: 1px solid #555;
}

input:focus, textarea:focus {
    border: 1px solid #555 !important;
}

.espacio{
  margin-top:20px;
}

/*FORM*/

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.form-group label {
    font-size: .8em;
    font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #111;
}

.inlineB{
  display:inline-block;
  width:44%;
}
/*FORM*/